@import "utils";

.join {
  margin: 0 auto;
  height: 100vh;
  display: grid;
  place-items: center;
}
.joinForm {
  border-radius: 15px;
  background-color: $background;
  box-shadow: 1px 1px 20px rgba($color: $primary, $alpha: 0.5);

  padding: 30px;
  h4 {
    color: $primary;
    margin-bottom: 20px;
    font-family: "Lato", sans-serif;
    font-size: 2rem;
  }
  > form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      border: none;
      padding: 10px 20px;
      font-size: 1.3rem;
      font-family: "Poppins";
      outline: none;
      border-radius: 10px;
      margin-bottom: 15px;
      color: $black;
      box-shadow: 1px 1px 5px rgba($color: $grey, $alpha: 1);
    }
    button {
      cursor: pointer;
      padding: 10px 15px;
      background-color: $primary;
      border: none;
      color: $white;
      font-size: 1.3rem;
      border-radius: 5px;
    }
  }
}
