@import "utils";
.layout {
  background-color: $background;
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgba($color: $grey, $alpha: 1);
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.4fr 1.2fr 0.4fr;
  height: 100%;
  // justify-content: stretch;
}

@media only screen and (max-width: 1700px) {
  .layout {
    width: 95%;
  }
}

@media only screen and (max-width: 1200px) {
  .layout {
    width: 100%;
    grid-template-columns: 0.22fr 0.78fr;
  }
}
