@import "utils";
.layout {
  background-color: $background;
  border-radius: 15px;
  box-shadow: 1px 1px 5px rgba($color: $grey, $alpha: 1);
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  justify-content: stretch;
}
